Options -Indexes
DirectoryIndex index.php

# Social Media Redirects
Redirect 301 /facebook https://www.facebook.com/zotbotics/
Redirect 301 /insta /instagram
Redirect 301 /instagram https://www.instagram.com/zotboticsatuci/
Redirect 301 /slack http://zotbotics.slack.com/signup
Redirect 301 /contact https://docs.google.com/forms/d/e/1FAIpQLScnDl63KdRrqTzqVLqjS-C75RiggsEhYIRGmR1fEZbQGj7Yag/viewform?usp=sf_link

# Summer Redirect
Redirect 301 /summer /summer.html
Redirect 301 /sdp2k18 https://www.facebook.com/events/274328909846181/
# Backwards compatibility
Redirect 301 /summer /summer.html

# Interest Form Redirect
Redirect 301 /interested https://docs.google.com/forms/d/e/1FAIpQLSeOT5D6_1Hef3ULSHCiIz4FVYoDIIog0-RVhsu41iPuyPov-w/viewform?usp=sf_link

# Calendar redirect
Redirect 301 /calendar /calendar.php

# Constitution Redirect
Redirect 301 /constitution /files/constitution.pdf

# Receipts processing
Redirect 301 /receipts https://goo.gl/forms/S4lZnC5Hz9PMPaSi2

# Vex U Feedback Form
Redirect 301 /feedback https://goo.gl/forms/DTJPZnoSl7nG98X22

# Blog link
Redirect 301 /blog https://blog.zotbotics.org/

# Join link
Redirect 301 /join /join.php

#Ant Center Sign In Link
Redirect 301 /signin https://docs.google.com/forms/d/e/1FAIpQLSdgrJfIIMEG-d6nhIc7Gn_tfhOBSPsXBfZneDy22mjMxXXX2Q/viewform

# Presentation Link
Redirect 301 /present https://docs.google.com/presentation/d/1UlFom3e64LztD3FnNo-YDJBvpi0dfzzaquDb0yEipT8/edit?usp=sharing
Redirect 301 /vex3 https://docs.google.com/presentation/d/1cnTf253HvQe4s4oZIU8f140-p7H7xA8q3deVuSp6ruY/edit?usp=sharing
Redirect 301 /vex4 https://docs.google.com/presentation/d/1kqJdzQzAxwfm2fJBfAi440PzB6bXPHVDAmaVe9Ly1co/edit?usp=sharing

# Survey Link
Redirect 301 /survey https://docs.google.com/forms/d/e/1FAIpQLSenziybgCy1isz3HU5gfKo02Nt4Ik0ICozu_K6nU9BDIDJ-8A/viewform?usp=sf_link

# Backwards compatibility
Redirect 301 /constitution.pdf /files/constitution.pdf
Redirect 301 /sdp-rules.pdf /files/sdp-rules.pdf

# Redirect all html to php
RedirectMatch 301 (.*)\.html$ $1.php

# Fundraiser Form Redirect
Redirect 301 /fundraising https://zotfunder.give.uci.edu/project/11031
Redirect 301 /donate https://zotfunder.give.uci.edu/project/11031

# Set Error Documents
ErrorDocument 404 /error/404.php
ErrorDocument 403 /error/403.php
