Options -Indexes
DirectoryIndex index.php

# Social Media Redirects
Redirect 301 /facebook https://www.facebook.com/zotbotics/
Redirect 301 /insta /instagram
Redirect 301 /instagram https://www.instagram.com/zotboticsatuci/
Redirect 301 /slack http://zotbotics.slack.com/signup

# Summer Redirect
Redirect 301 /summer /summer.html
Redirect 301 /sdp2k18 https://www.facebook.com/events/274328909846181/
# Backwards compatibility
Redirect 301 /summer /summer.html

# Interest Form Redirect
Redirect 301 /interested https://docs.google.com/forms/d/e/1FAIpQLSeOT5D6_1Hef3ULSHCiIz4FVYoDIIog0-RVhsu41iPuyPov-w/viewform?usp=sf_link

# Constitution Redirect
Redirect 301 /constitution /files/constitution.pdf

# Receipts processing
Redirect 301 /receipts https://goo.gl/forms/S4lZnC5Hz9PMPaSi2

# Blog link
Redirect 301 /blog https://blog.zotbotics.org/

# Backwards compatibility
Redirect 301 /constitution.pdf /files/constitution.pdf
Redirect 301 /sdp-rules.pdf /files/sdp-rules.pdf

# Redirect all html to php
RedirectMatch 301 (.*)\.html$ $1.php

# Fundraiser Form Redirect
Redirect 301 /fundraising https://zotfunder.give.uci.edu/project/11031
Redirect 301 /donate https://zotfunder.give.uci.edu/project/11031

# Set Error Documents
ErrorDocument 404 /error/404.php
ErrorDocument 403 /error/403.php
