Options -Indexes

# Social Media Redirects
Redirect 301 /facebook https://www.facebook.com/zotbotics/
Redirect 301 /insta /instagram
Redirect 301 /instagram https://www.instagram.com/zotboticsatuci/
Redirect 301 /slack http://zotbotics.slack.com/signup

# Summer Redirect
Redirect 301 /summer /summer.html

# Backwards compatibility
Redirect 301 /summer /summer.html

# Interest Form Redirect
Redirect 301 /interested https://docs.google.com/forms/d/e/1FAIpQLSeOT5D6_1Hef3ULSHCiIz4FVYoDIIog0-RVhsu41iPuyPov-w/viewform?usp=sf_link

# Constitution Redirect
Redirect 301 /constitution /files/constitution.pdf

# Backwards compatibility
Redirect 301 /constitution.pdf /files/constitution.pdf

# Redirect all html to php
RedirectMatch 301 (.*)\.html$ $1.php


# Set Error Documents
ErrorDocument 404 /error/404.php
ErrorDocument 403 /error/403.php
